<h1> Create a new account </h1>

<form id="signup" method="POST" action="/auth/signup">

    <div>
        <label>Please create a username</label>
        <input type="text" name="userName" />
    </div>

    <div>
        <label>Email Address</label>
        <input type="email" name="emailAddress" />
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password" />
    </div>

    <br>

    <div>
        <button type="submit">Sign Up</button>
    </div>

</form>

<!-- <script>
    const form = document.getElementById('signup')
    form.addEventListner('submit', registerUser)

    function registerUser(event) {
        event.preventDefault()
        console.log(document.getElementByName('userName'))
        console.log(document.getElementByName('emailAddress'))
        console.log(document.getElementByName('password'))

    }
</script> -->
