<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeGochi</title>
</head>
<body>


    <div><h1><a href="/">PokeGochi!</a></h1></div>
    
    <hr>
    
    <nav>
        <a href="/auth/signin"  class="btn btn-outline-primary">Signin</a>
        <a href="/auth/signup"  class="btn btn-outline-primary">Signup</a>
        <a href="/auth/logout" class="btn btn-outline-primary">Logout</a>
    </nav>


    <br><br><hr><br>

 

</body>
</html>