<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeGochi</title>
</head>
<body>

    Shared Header Layout from Layout page

    <div><h1><a href="/">PokeGotchi!</a></h1></div>
    <% if(currentUser) { %>
        Hi <%= currentUser.userName %>
    <% } else { %>
        Hi, please signup/login
    <% } %>
    <hr>
    
    <nav>
        <a href="/auth/signin">Signin</a>

        <a href="/auth/signup">Signup</a>

        <a href="/auth/logout">Logout</a>
    </nav>

    <hr>

    <%- body %>

    <br><br><hr><br>


 
</body>
</html>